<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExoBio form</title>
</head>
<body>
    <div>
        {% if error %}
        {{error}}
        {% endif %}
    </div>
    <div name="planetInput" style="width: 50%; display: table-cell;">
        <div>
            <h1>Enter you planet details:</h1>
            <form method="post">

                <table border="1">
                    <tr>
                        <td>Bio Count</td>
                        <td>
                            <input type="text" name="bioCount" value="{{body.biologicalCount}}">
                        </td>
                    </tr>
                    <tr>
                        <td>Star Class</td>
                        <td>
                            <select name="starclass">
                                {% for sc in starclasses %}
                                    <option value="{{ sc }}" {% if sc == body.parentStar._name_ %}selected{% endif %}> {{ sc }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Planet Type</td>
                        <td>
                            <select name="planetType">
                                {% for pt in planetTypes %}
                                    <option value="{{ pt }}" {% if sc == body.planetType._name_ %}selected{% endif %}> {{ pt }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Atmospheric Composition</td>
                        <td>
                            <select name="atmossphericComposition">
                                {% for ac in atmossphericCompositions %}
                                    <option value="{{ ac }}" {% if sc == body.atmossphericComposition._name_ %}selected{% endif %}> {{ ac }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Volcanism Type</td>
                        <td>
                            <select name="volcanismType">
                                {% for vt in volcanismTypes %}
                                    <option value="{{ vt }}" {% if sc == body.volcamismType._name_ %}selected{% endif %}> {{ vt }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Atmospheric Pressure</td>
                        <td>
                            <input type="text" name="atmossphericPressure" value="{{ body.atmosphericPressure }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Gravity</td>
                        <td>
                            <input type="text" name="gravity" value="{{ body.gravity }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Min Temperature</td>
                        <td>
                            <input type="text" name="minTemp" value="{{ body.minTemperature }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Max Temperature</td>
                        <td>
                            <input type="text" name="maxTemp" value="{{ body.maxTemperature}}">
                        </td>
                    </tr>
                </table>
                <button type="submit">Predict</button>
            </form>
        </div>
    </div>
    <div class="bioInput" style="width: 50%; display: table-cell;">
        <h1>Found Biologicals</h1>
        <form method="post">
            <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Main type:</td>
                    <td>Sub type:</td>
                </tr>
            </thead>
            {% set bio_count = body.biologicalCount | default(0) %}
            {% for i in range(1, bio_count+1) %}
                <tr>
                    <td>
                        Biological {{i}}
                    </td>
                    <td>
                        <input type="text" name="mainType_{{i}}">
                    </td>
                    <td>
                        <input type="text" name="subType_{{i}}">
                    </td>
                </tr>
            {% endfor %}
            </table>
        </form>
    </div>
    

    

    <div class="results">
        <h1> Results</h1>
        <div class="leastValue" style="width: 300px; display: table-cell;">
            <h2> Least valuable</h2>
            <b>Total: </b> {{totalLeast}} Credits
            <table border="1">
                <thead>
                    <tr>
                        <th>Biological</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bio in leastValue %}
                    <tr>
                        <td> {{bio.mainType._name_}} {{bio.subType}}</td>
                        <td> {{bio.value}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mostValue" style="width: 300px; display: table-cell;">
            <h2>Most valuable</h2>
            <b>Total: </b> {{totalMost}} Credits
            <table border="1">
                <thead>
                    <tr>
                        <th>Biological</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bio in mostValue %}
                    <tr>
                        <td> {{bio.mainType._name_}} {{bio.subType}}</td>
                        <td> {{bio.value}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="allPossible">
            <h2>All possible in decending value order </h2>
            {% for bio in allPossible: %}
            {{ bio.mainType._name_ }} {{bio.subType}}  with Value: {{bio.value}}<br>
            {% endfor %}
        </div>
    </div>
</body>
</html>